body {
	/* font-family: "microsoft yahei", "Times New Roman", "ו", Times, serif; */

	background-color: #ffffff;
	background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-dark.png");

}

.mainland {
	background: #FFFFFF;
	padding-left: 10px;
	padding-right: 10px;
}
/* 
.bootstrap-table>.fixed-table-container, .bootstrap-table>.fixed-table-container>.fixed-table-body>.table,
	.bootstrap-table>.fixed-table-container>.fixed-table-body>.table>thead>tr>th,
	.bootstrap-table>.fixed-table-container>.fixed-table-body>.table>tbody>tr>td
	{
	border-left: none;
	border-bottom: none;
	border-top: none;
	border-right: none;
}
 */
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th,
	.table>thead>tr>td, .table>thead>tr>th {
	vertical-align: middle;
}

/* .breadcrumb {
	background-color: transparent;
	border-radius: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
} */