body {
	background-color: #EEEEEE;
	background-image:url(/img/2c761da4303eccca7d9bfc8d73a40077cfbc9f651fe0-svPkdZ_fw658.png); 
}

.mainland {
	background: #FFFFFF;
}

table{
	background: #FFFFFF;
}

.breadcrumb{
	background-color: transparent;
	border-radius: 0px; 
}