body {
	
animation:change 10s linear 0s infinite;
background-image: url("https://www.transparenttextures.com/patterns/gplay.png");

}

@keyframes change{
	0%{
		background-color:#6180a1;
	}
	50%{
		background-color:#888888;
	}
	100% {
		background-color:#6180a1;
	}
}

.breadcrumb{
	background-color: transparent;
}
.mainland {
	background: #FFFFFF;
	padding-left: 10px;
	padding-right: 10px;
}
/* 
.bootstrap-table>.fixed-table-container, .bootstrap-table>.fixed-table-container>.fixed-table-body>.table,
	.bootstrap-table>.fixed-table-container>.fixed-table-body>.table>thead>tr>th,
	.bootstrap-table>.fixed-table-container>.fixed-table-body>.table>tbody>tr>td
	{
	border-left: none;
	border-bottom: none;
	border-top: none;
	border-right: none;
}
 */
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th,
	.table>thead>tr>td, .table>thead>tr>th {
	vertical-align: middle;
}

/* .breadcrumb {
	background-color: transparent;
	border-radius: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
} */