<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
	
		<encoder>
			<pattern>%date{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="rollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>./logs/cn.prm.server.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>./logs/archive/cn.prm.server.%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>300</maxHistory>
		</rollingPolicy>
		
		<encoder>
			<pattern>%date{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
		
	</appender>

	<!-- project default level -->
	<logger name="com.example" level="INFO" />
	<logger name="org.springframework" level="INFO" />
	<!--
	<logger name="com.mchange" level="DEBUG" />-->

	<root level="INFO">
		<appender-ref ref="console" />
		<appender-ref ref="rollingFile" />
	</root>
</configuration>